<form id="g2test-booking" method="post" action="/update-details">
  <div class="form-floating mb-3">
    <input  type="text"  class="form-control"  disabled  id="fname"  name="fname"  placeholder="First Name"  value="<%=userDetail.fname %>" />
    <label for="fname">First Name</label>
    <div class="error" id="fnameError"></div>
  </div>

  <div class="form-floating mb-3">
    <input  type="text"  class="form-control"  disabled  id="lname"  name="lname"  placeholder="Last Name"  value="<%=userDetail.lname %>" />
    <label for="lname">Last Name</label>
    <div class="error" id="lnameError"></div>
  </div>

  <div class="form-floating mb-3">
    <input  type="text"  class="form-control"  disabled id="license"  name="license"  placeholder="License Number"  value="<%=userDetail.license %>" />
    <label for="license">License Number</label>
    <div class="error" id="licenseError"></div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="number"  class="form-control" disabled id="age" name="age" placeholder="Age" value="<%=userDetail.age %>" />
        <label for="age">Age</label>
        <div class="error" id="ageError"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="date" class="form-control" disabled id="dob" name="dob" placeholder="Birth date" value="<%=userDetail.dob %>" />
        <label for="dob">Birth Date</label>
        <div class="error" id="dobError"></div>
      </div>
    </div>
  </div>
  <div class="mb-3 fw-bold">Car Details</div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="carMake" name="carMake" placeholder="Make" value="<%=userDetail.car.make %>" />
        <label for="carMake">Make</label>
        <div class="error" id="carMakeError"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="carModel" name="carModel" placeholder="Model" value="<%=userDetail.car.model %>" />
        <label for="carModel">Model</label>
        <div class="error" id="carModelError"></div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="carYear" name="carYear" placeholder="Year" value="<%=userDetail.car.year %>" />
        <label for="carYear">Year</label>
        <div class="error" id="carYearError"></div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="carPlateNumber" name="carPlateNumber" placeholder="Plate number" value="<%=userDetail.car.plateNumber %>" />
        <label for="carPlateNumber">Plate number</label>
        <div class="error" id="carPlateNumberError"></div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary text-uppercase d-block mx-auto" id="submitButton" type="submit"> Submit </button>
</form>
